version: '2.0'
services:
  mtprotoproxy:
    build: .
    restart: unless-stopped
    network_mode: "host"
    environment:
        - MTPROTO_API_HOST=0.0.0.0
        - MTPROTO_API_PORT=8080
        - MTPROTO_CONFIG_DB=/home/tgproxy/data/config.db
        # Optional:
        # - MTPROTO_ADMIN_USER=admin
        # - MTPROTO_ADMIN_PASS=your_password
        # - MTPROTO_CONFIG_SOURCE=db
    volumes:
        - ./mtprotoproxy.py:/home/tgproxy/mtprotoproxy.py
        - ./ui.html:/home/tgproxy/ui.html
        - mtprotoproxy-data:/home/tgproxy/data
        # Alternatively, you can use a bind-mount, but ensure directory is writable by uid 10000:
        # - ./data:/home/tgproxy/data
        - /etc/localtime:/etc/localtime:ro
    logging:
        driver: "json-file"
        options:
            max-file: "10"
            max-size: "10m"
#    mem_limit: 1024m

volumes:
  mtprotoproxy-data:
